<section id="about-hcpp17">
  <div class="container">
    <!-- Title -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>About HCPP17</span></h2>
          <p class="subtitle text-center">
            Real digital privacy starts with protecting your financial transactions. Leaving no traces. Making impossible to see or intervene your voluntary economic interactions. With the rise of anonymous cryptocurrencies, for the first time in our human history, we can do a global business and stay anonymous.
          </p>
          <p class="subtitle text-center">
            Anonymous prediction markets, anonymous anti-government insurance, anonymous crowdfunded whistleblowing, decentralized unsiezable cryptomarkets, anonymous perfect corruption - all these crypto technologies will undermine the current authoritative systems.
          </p>
          <p class="subtitle text-center">
             And make the significant change. Silently. With no violence or politicians. It's time. Liberate yourself!
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title -->
    <div class="row text-center">
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/discussions.svg" width="76" height="80" alt="Discussions" />
        <h3 class="accent">FREEDOM<br>&amp; CRYPTOANARCHY</h3>
      </div>
      <!-- /.Feature -->
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/workshops.svg" width="70" height="80" alt="Workshops" />
        <h3 class="accent">DECENTRALIZED ECONOMY<br>&amp; CRYPTOCURRENCY</h3>
      </div>
      <!-- /.Feature -->
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/exhibitions.svg" width="76" height="80" alt="Exhibitions" />
        <h3 class="accent">POLITICAL ART<br>&amp; HACKING</h3>
      </div>
      <!-- /.Feature -->
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/ideas.svg" width="49" height="80" alt="Ideas" />
        <h3 class="accent">SCIENCE<br>&amp; TECHNOLOGY</h3>
      </div>
      <!-- /.Feature -->
    </div>
  </div>
  <!-- /.container -->
</section>
