<section id="about">
  <div class="container">
    <!-- Title -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>About HCPP17 - Liberate!</span></h2>
          <div class="row">
            <div class="col-md-8 col-sm-12 col-md-offset-2">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/iOU8m0uXvIQ" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <p class="subtitle text-center  mrgn-20-top">
            In the view of ongoing global war on cash and tightening financial regulations, we have chosen the topic of Hackers Congress Paralelni Polis 2017 to be the financial and economic freedom.
          </p>
          <p class="subtitle text-center">
            <i>Real digital privacy starts with protecting your financial transactions. Leaving no traces. Making impossible to see or intervene your voluntary economic interactions. With the rise of anonymous cryptocurrencies, for the first time in our human history, we can do a global business and stay anonymous.<br>

            Anonymous prediction markets, anonymous anti-government insurance, anonymous crowdfunded whistleblowing, decentralized cryptomarkets, anonymous perfect corruption - all these crypto technologies will undermine the current authoritative systems.<br>

              And make the significant change. Silently. With no violence or politicians. It's time. Liberate yourself!</i>
          </p>
          <p class="subtitle text-center">
            Join us at the 4th Hackers Congress Paralelni Polis with hundreds of freedom enthusiasts, tech-entrepreneurs, activists, artists and cryptoanarchists to celebrate the age of digital freedom and decentralization!
          </p>
          <p class="subtitle text-center">
            The congress program starts on Friday, 6th October at 13:00 and ends on Sunday, 8th October at 18:00. The venue opens at 9:00 each day. Official language is English.
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title -->
    <div class="row text-center">
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/discussions.svg" width="76" height="80" alt="Discussions" />
        <h3 class="accent">FREEDOM<br>&amp; CRYPTOANARCHY</h3>
      </div>
      <!-- /.Feature -->
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/workshops.svg" width="70" height="80" alt="Workshops" />
        <h3 class="accent">DECENTRALIZED ECONOMY<br>&amp; CRYPTOCURRENCIES</h3>
      </div>
      <!-- /.Feature -->
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/exhibitions.svg" width="76" height="80" alt="Exhibitions" />
        <h3 class="accent">POLITICAL ART<br>&amp; HACKING</h3>
      </div>
      <!-- /.Feature -->
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/ideas.svg" width="49" height="80" alt="Ideas" />
        <h3 class="accent">SCIENCE<br>&amp; TECHNOLOGY</h3>
      </div>
      <!-- /.Feature -->
    </div>
  </div>
  <!-- /.container -->
</section>
