<section id="highlight">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title-white">
          <h2 class="text-center"><span>Highlights</span></h2>
          <p class="subtitle white text-center">An ea, quae per vinitorem antea consequebatur, per se ipsa curabit</p>
          <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg white"></i></p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- CTA Boxes -->
    <div class="row">
      <div class="col-md-6">
        <!-- Speakers CTA Box 01 -->
        <div class="dark-box pddn-50">
          <p class="mrgn-20-btm"> <img src="/media/logo/inner-logo-white.png" width="65" height="37" class="img-responsive" alt="New York Web Buzz" /></p>
          <p class="lead-sm text-uppercase"> is an inspirational event which will
            make you think, learn  and create. </p>
          <p class="lead-sm text-uppercase"> Innovation is the key.<br/>
            Knowledge is the source. <br/>
            Creativity is the magic. <br/>
          </p>
          <p class="mrgn-20-top"><a href="speaker-details.html" class="btn btn-main-color">Speakers <i class="fa fa-long-arrow-right"></i></a></p>
        </div>
        <!-- /.Speakers CTA Box 01 -->
      </div>
      <div class="col-md-6">
        <!-- Speakers CTA Box 02 -->
        <div class="dark-box pddn-50">
          <p class="mrgn-20-btm"> <img src="/media/logo/inner-logo-white.png" width="65" height="37" class="img-responsive" alt="New York Web Buzz" /></p>
          <p class="lead-sm text-uppercase">Listen to people like you will share experience leading to success </p>
          <p class="lead-sm text-uppercase"> Success is the goal. <br/>
            Experience is the medium. <br/>
            Work is all you need to do. <br/>
          </p>
          <p class="mrgn-20-top"><a href="schedule.html" class="btn btn-main-color">Lectures <i class="fa fa-long-arrow-right"></i></a></p>
        </div>
        <!-- /.Speakers CTA Box 02 -->
      </div>
    </div>
    <!-- /.CTA Boxes -->
  </div>
  <!-- /.container -->
</section>
