<section id="last-year">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Last year</span></h2>
          <p class="subtitle text-center">The congress brought together hundreds of crypto and freedom lovers in the past two years. Catch a glimpse of its amazing atmosphere and sign up to experience it on your own! <a href="http://blackout.hcpp.cz/eng/" target="_blank">Continue to HCPP15</a></p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Video -->
    <div class="row">
      <div class="col-md-8 col-sm-12 col-md-offset-2">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/SSiSrCsHIWc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <!-- /.Video -->
  </div>
  <!-- /.container -->
</section>
