<section id="latest-news">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Latest News</span></h2>
          <p class="subtitle text-center">Satisne ergo pudori consulat, si quis sine teste libidini pareat</p>
          <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Latest News List -->
    <div class="row">
      <div class="col-sm-4">
        <!-- News Item 01 -->
        <div class="news-item">
          <div class="image">
            <div class="date"><span class="day">19</span><span class="month">SEP</span></div>
            <img src="/media/news/latest-news-03.jpg" class="img-responsive center-block" alt="Get Early-bird Tickets"></div>
          <div class="details">
            <h3>Get Early-bird Tickets</h3>
            <p> Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. </p>
            <p><a href="latest-news.html#news-item1" class="btn btn-main-ghost btn-block">Read More</a></p>
          </div>
          <footer>
            <div class="views"><i class="fa fa-eye"></i> 150</div>
            <div class="love"><i class="fa fa-heart"></i> 33</div>
            <div class="comments"><i class="fa fa-comments"></i> 23</div>
          </footer>
        </div>
        <!-- /.News Item 01 -->
      </div>
      <div class="col-sm-4">
        <!-- News Item 02 -->
        <div class="news-item">
          <div class="image">
            <div class="date"><span class="day">12</span><span class="month">SEP</span></div>
            <img src="/media/news/latest-news-02.jpg" class="img-responsive center-block" alt="Speakers Announced"></div>
          <div class="details">
            <h3>Speakers Announced</h3>
            <p> Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. </p>
            <p><a href="latest-news.html#news-item2" class="btn btn-main-ghost btn-block">Read More</a></p>
          </div>
          <footer>
            <div class="views"><i class="fa fa-eye"></i> 150</div>
            <div class="love"><i class="fa fa-heart"></i> 33</div>
            <div class="comments"><i class="fa fa-comments"></i> 23</div>
          </footer>
        </div>
        <!-- /.News Item 02 -->
      </div>
      <div class="col-sm-4">
        <!-- News Item 03 -->
        <div class="news-item">
          <div class="image">
            <div class="date"><span class="day">05</span><span class="month">SEP</span></div>
            <img src="/media/news/latest-news-01.jpg" class="img-responsive center-block" alt="New York Web Buzz 2016"></div>
          <div class="details">
            <h3>New York Web Buzz 2016</h3>
            <p> Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. </p>
            <p><a href="latest-news.html#news-item3" class="btn btn-main-ghost btn-block">Read More</a></p>
          </div>
          <footer>
            <div class="views"><i class="fa fa-eye"></i> 150</div>
            <div class="love"><i class="fa fa-heart"></i> 33</div>
            <div class="comments"><i class="fa fa-comments"></i> 23</div>
          </footer>
        </div>
        <!-- /.News Item 03 -->
      </div>
    </div>
    <!-- /.Latest News List -->
  </div>
  <!-- /.container -->
</section>
