<section id="partners">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Partners</span></h2>
          <p class="subtitle text-center">Being a partner has its perks as we offer a great chance to discover the parallel world of new technologies. Our partner can look forward to interesting workshops on 3D printing, digital privacy, or blockchain &amp; Bitcoin which can serve also as team­building activities. </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Partners List -->
    <div class="row partners-row">
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://www.atlasnetwork.org/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/logo-atlas-transparent.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://www.keboola.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/Keboola_logo.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://bitcoinpay.com" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/bitcoinpay.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://coinmate.io" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/coinmate.png" alt="" />
        </a>
      </div>
    </div>
    <div class="row partners-row">
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://dashpay.cz/hcpp-2016" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/dash.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://www.generalbytes.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/generalbytes.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://buytrezor.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/logo-trezor.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://www.uber.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/Uber_Logotype_Digital_black.png" alt="" />
        </a>
      </div>
    </div>
    <div class="row partners-row mrgn-30-top">
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://ultrahack.org/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/ultrahack.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://www.fashion-stl.cz/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/fashionstl.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://godistributed.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/distributed-dark.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://blockchainhub.net/graz/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/blockchainhub-graz.png" alt="" />
        </a>
      </div>
    </div>
    <div class="row partners-row mrgn-10-top">
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://refresher.cz/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/refresher-logo.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://www.26house.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/26house-logo.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://enplug.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/enplug-logo.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://www.philips.cz/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/philips-logo.png" alt="" />
        </a>
      </div>
    </div>
    <div class="row partners-row mrgn-10-top">
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://www.nedori.cz/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/nedori.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://tyinternety.cz/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/tyinternety-logo.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://www.mises.cz/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/mises-logo.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://www.iness.sk/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/iness-logo.png" alt="" />
        </a>
      </div>
    </div>
    <div class="row partners-row mrgn-10-top">
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://www.bitnotes.org/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/bitnotes-logo.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://esfliberty.org/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/esfl-logo.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://roklen24.cz/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/roklen-logo.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://www.instagraf.cz/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/instagraf-logo.png" alt="" />
        </a>
      </div>
    </div>
    <div class="row partners-row mrgn-10-top">
      <div class="col-xs-12 col-sm-4 mrgn-20-top">
        <a href="http://www.freezeemotion.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/freeze-emotion-logo.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 mrgn-20-top">
        <a href="http://orosene.cz/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/orosene-logo.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 mrgn-20-top">
        <a href="http://www.nordbeans.cz/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/sponsors/nordbeans-logo.png" alt="" />
        </a>
      </div>
    </div>
    <!-- /.Partners List -->

    <div class="row">
      <p class="subtitle text-center mrgn-40-top">
        Special thanks to the following Paralelní Polis fans and donors: Daniel Gasteiger, Sleighdogs GmbH
      </p>
    </div>

    <div class="row">
      <h3 class="text-center mrgn-40-top">
        <a href="/media/files/hcpp2016-donors-booklet.pdf" class="underlined" target="_blank">Become our partner</a>
      </h3>
    </div>
  </div>
  <!-- /.container -->
</section>
