<section id="tickets">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Tickets</span></h2>
          <p class="subtitle text-center">
            The ticket sale is <a href="https://tickets.paralelnipolis.cz/" target="_blank" class="js-shop-link">up and running</a>. The price of three day pass for the congress is 2500CZK (~95EUR).
          </p>

          <p class="subtitle text-center">
            To promote financial freedom and decentralization in practice, we have decided to sell only for bitcoin, the first decentralized digital currency. For those who don't have any bitcoins yet, <a href="https://tickets.paralelnipolis.cz/content/2-bicoin-guide" target="_blank" class="js-shop-link">we provide a guide</a> on getting them fast and easy.
          </p>

          <p class="subtitle text-center">
            The number of tickets is limited so don't hesitate and <a href="https://tickets.paralelnipolis.cz/hcpp17/56-full-hcpp17-ticket" target="_blank" class="js-shop-link">buy now!</a>
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!--  Passes -->
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <a href="https://tickets.paralelnipolis.cz/hcpp17/56-full-hcpp17-ticket" target="_blank" class="js-shop-link">
          <img src="/media/images/full-hcpp17-ticket-early-bird.jpg" class="img-responsive">
        </a>
        <h3>Standard HCPP17 Ticket</h3>
        <p>
          Only 2500CZK (~95EUR)
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <a href="https://tickets.paralelnipolis.cz/hcpp17/61-supporter-pack-ticket-unique-t-shirt-iom-book" target="_blank" class="js-shop-link">
          <img src="/media/images/supporter-pack-ticket-unique-t-shirt-iom-book.png" class="img-responsive">
        </a>
        <h3>Supporter HCPP17 Ticket</h3>
        <p>
          PLUS The Internet of Money (a book from Andreas Antonopoulos) and Exclusive Limited Edition HCPP17 T-shirt (with unique design for supporters only) as a Thank You gift
          <br>
          5000CZK (~190EUR)
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <a href="https://tickets.paralelnipolis.cz/hcpp17/65-liberate-pack-ticket-liberate-t-shirt" target="_blank" class="js-shop-link">
          <img src="/media/images/liberate-pack-ticket-liberate-t-shirt.png" class="img-responsive">
        </a>
        <h3>Liberate pack</h3>
        <p>
          Ticket for HCPP17 and HCPP17 Limited Edition T-shirt<br>
          2900CZK (~110EUR)
        </p>
      </div>
    </div>

    <div class="row text-center mrgn-50-top">
      <a href="https://tickets.paralelnipolis.cz/" target="_blank" class="btn btn-main-color js-shop-link">Go to shop</a>
    </div>
  </div>
  <!-- /.container -->
</section>
