<section id="programme">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Programme</span></h2>
          <p class="subtitle text-center">
            Apart from intensive presentation schedule, the congress will be accompanied by panel discussions, 3D printing workshops, social events and other program in collaboration with our partners.<br>&bull;
          </p>
          <p class="subtitle text-center">
            In particular, we are looking forward to have events like 3D printed fashion show by FashionSTL, hacker talent competition by Ultrahack, several drone shows and movie screenings. There will a presentation of Virtual Reality devices with owesome applications by Inloop and you will be able to shoot a selfie in a Matrix movie style with Bullettime technology.<br>&bull;
          </p>
          <p class="subtitle text-center">In days before our congress, Paralelní Polis will host <a href="https://www.eventbrite.com/e/trezor-20-hackathon-registration-25845164583" target="_blank">SatoshiLabs Trezor 2.0 Hackathon</a> mentored by Andreas, Johoe, Slush and Stick. We strongly encourage all the hackers to join and enrich their Prague experience.<br>&bull;
          </p>
          <p class="subtitle text-center">
            Overwhelmed by new information? Wanna overcome the excess of good food and hacker beer? It's over! Lie down in our chillout zone - for a quick power nap, a friendly chat or for reading The Crypto Anarchist Manifesto. Your comfort will be complete with adjustable lighting bulbs Philips Hue, fragrant bitcoin installation Pecunia Non Olet and relaxing background music from <a href="https://www.focusatwill.com" target="_blank">Focusatwill.com</a> or <a href="https://www.brain.fm/" target="_blank">Brain.fm</a>.<br>&bull;
          </p>
          <p class="subtitle text-center">
            Taste the atmosphere of our shared office <a href="http://paperhub.cz/" target="_blank">Paper Hub</a>, which can be normally found on the first floor of Paralelní Polis. Large tables, comfortable chairs, high speed internet and most importantly - a calm corner for your work during the congress hustle. Do you have an idea for a quick article, need to charge your phone, make a Skype call or the private meeting? Our imprompt coworking space is available for you!
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->
  </div>
  <!-- /.container -->
</section>
